*{
	margin: 0;
	
}

html, body{
	height: 100%;
	color: white;
}


nav{
	position: fixed;
	width: 100%;
	height: 3em;
	background-color: rgba(255, 255, 255, .5);
	z-index: 99;
	text-align: center;
	line-height: 3em;
}

nav a{
	text-decoration: none;
	font-family: 'Prestige Elite Std', sans-serif;
	padding-top: .5em;
	padding-right: 3em;
	padding-left: 3em;
	padding-bottom: .5em;
	text-align: center;
	color: white;
	
	
}
nav a:hover{
	color: black;
	transform: scale(1.5);
	transition: all 0.5s;
	text-decoration: underline;
}

.sectOne{
	text-align: center;
	line-height: 47em;
	color: black;
	margin-left: 2em;
	text-decoration: none;
	cursor: text;
}


.menlogo{
	text-align: center;
	line-height: 70em;
	color: black;
	background-image: url("bghome.jpg");
	font-family: 'Prestige Elite Std', sans-serif;
}


.womenlogo{
	text-align: center;
	line-height: 70em;
	color: black;
	background-image: url("bghome.jpg")
}
.contactuslogo{
	text-align: center;
	line-height: 70em;
	color: black;
	background-image: url("bghome.jpg")
}

form{
	text-align: center;
}
.retrocontent{
	background-image: url("men.jpg");
	float: middle;
	padding-left: 2em;
	padding-right: 2em;
	
}

.retrotxt1m{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}

.retrotxt2m{
	float: left;
	padding-left: 6em;
	padding-top: 2em;
	color: black;
}

.retrotxt3m{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}

.urbantxt1m{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
	padding-bottom: 1em;
}

.urbantxt2m{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}

.urbantxt3m{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}

.casualtxt1m{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
	padding-bottom: 6em;
}

.casualtxt2m{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
	padding-bottom: 6em;
}

.casualtxt3m{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
	padding-bottom: 6em;
}

.retrotxt1f{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}

.retrotxt2f{
	float: left;
	padding-left: 4em;
	padding-left: 4em;
	padding-top: 2em;
	color: black;
}

.retrotxt3f{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}

.urbantxt1f{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}

.urbantxt2f{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}

.urbantxt3f{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
}
.casualtxt1f{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
	padding-bottom: 6em;
}

.casualtxt2f{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
	padding-bottom: 6em;
}

.casualtxt3f{
	float: left;
	padding-left: 2em;
	padding-top: 2em;
	color: black;
	padding-bottom: 6em;
}

thead{
	color:black;
	text-align: left;
	font-size: 5em;
	text-decoration: overline;
}
td{
	padding-left: 2em;
	padding-right: 1em;
	padding-top: 2em;

}

td:hover{
	transform: scale(1.05);
	transition: all 0.5s;
}



footer{
	position: fixed;
	background-color: rgba(255, 255, 255, .5);
	z-index: 99;
	bottom: 0em;
	width: 100%;
	color: white;
	height: 3.5%;
	text-align: center;
	padding-top: 1em;
	color: black;
}